<%= render 'partial/layout/navbar'%>
<div class="content">
	<br>
		<h2>新たにチームを作成できませんでした。</h2>
		<!-- <div class="content"> -->

	<small>以下の「戻る」ボタンよりチーム作成ページに戻り、
	<br>入力内容をご確認ください。</small>
	<br><br>
		<%= link_to '作成ページへ', :back ,class:"btn wanaka-btn btn-complete"%>
	<br>
	<br>
</div>
<%= render 'partial/layout/footer'%>
