<header>
  <div class="header-left">
    wanaka
  </div>
</header><!-- /header -->

<div class="content">
	<h1>会員登録完了</h1>
	<br>
	<small>
		さっそくWanakaの機能を使ってみましょう。<br>
		機能をご利用いただくにはチームを作成し、他のユーザーを招待するか、<br>既にあるチームの管理人に招待して頂く必要があります。</small>
	<br>
	<br>
	<hr>
	<br>
	<!-- <button class="btn btn-login">トップページへ</button> -->
    <%= link_to 'Wanakaを使ってみる', root_path, class:"" %><br>
</div>


<%= render 'partial/layout/footer'%>