@import "bootstrap-sprockets";
@import "bootstrap";
@import 'toastr';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
  font-size: 20px;
}

body{
	background-color: #F4F4F2;
	color: #333333;
	font-size: 20px;
	margin: 0 auto;
}

a {
  text-decoration: none;
}


h1{
	font-size: 48px;
}

h2{
	font-size: 36px;
}

.h2-border{
	margin-left: 12px;
	text-align: left;
	border-bottom: 1px solid #F4F4F2;
}

h3{
	font-size: 24px;
	margin-left: 24px;
	text-align: left;
}

h4{
	font-size: 16px;
	margin-left: 36px;
	text-align: left;
}

small{
	font-size: 14px;
	margin: 0 20px;
	/*padding: 0 20px;*/
	/*line-height: 40%;*/
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*position*/

header{
	background-color: #F26964;
	height: 50px;
	width: 100%;
}


.header-brand{
	height: 50px;
	margin: 0 20px;
	font-size: 36px;
	letter-spacing: -2px;
	color: white;
	font-family: "Tahoma", "Geneva", sans-serif;
	float: left;
}

.header-left:active{
	color: #F4F4F2;
}

.header-right{
	height: 50px;
	margin: 10px 20px;
	float: right;
}

.header-right-btn:hover {
	color: #FFD464;
	font-weight: bold;
}






nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 330px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.navbar-menu-user{
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
}

.navbar-menu{
	width: 100%;
	/*border: 1px solid red;*/
	padding: 10px 10px;
	font-size: 20px;
	/*padding-left: 10px;*/
}

.navbar-menu:hover{
	/*width: 100%;*/
	/*border: 1px solid red;*/
	/*padding: 10px 10px;*/
	/*font-size: 24px;*/
	/*padding-left: 10px;*/
	/*color: #fff;*/
	background-color: #e7e7e7;
	text-decoration: none;
}




.navbar-menu-top{
	width: 100%;
	/*border: 1px solid red;*/
	padding: 10px 10px;
	font-size: 30px;
	background-color: #F26964;
	/*padding-left: 10px;*/
	color: white;
	font-family: bold;
	text-align: center;
}

.navbar-menu-logout{
	width: 100%;
	/*text-align: center;*/
	margin: 0 auto;
	padding-right: 20px;
	font-size: 14px;
	/*float: right;*/
	text-align: center;
}

/*app*/

.main-feature-text{
	padding: 20px 0;
	color: white;
}

.main-content{
	margin: 20px 0;
	background-color: white;
	margin: 10px 0;
}

.main-invited{
	/*width: 100%;*/
	/*padding: 10px 20px;*/
	/*background-color: #FFD464;*/
	font-size: 12px;
	/*border-bottom: 0.75px solid black;*/

	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
	/*以下色とかの装飾*/
	padding: 6px 20px;
	margin: 6px 12px;
	color: #FFF;
	/*font-weight: bold;*/
	background: #4293f5;

}

.main-invited-text{
	color: white;
}

.app-section{
	width: 100%;
	margin-top: 12px;
}

.app-section>p{
	font-size: 1.6vw;
}


.app-section-box{
	width: 95%;
	margin: 0 auto;
	padding-top: 20px;
	margin: 0 auto;
}

.app-section-white-color{
	margin: 0 12px;
	color: white;
}

.app-section-black-color{
	margin: 0 12px;
	color: black;
}


.app-section-content{
	margin: 0 12px;


}

.app-section-content-3col{
	width: 28%;
	/*height: 200px;*/
	float: left;
	font-size: 18px;
	text-align: center;
}


.app-section-content-3col img{
	width: 80px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	margin: 18px 0;
}

.app-section-content-2col{
	width: 50%;
	float: left;
}







/*appページタブ*/

$max-tab-count: 5;
$tab-wrap-border-radius: 6px;
.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: $tab-wrap-border-radius;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
/*  &:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
  }*/
}

.tab {
  display: none;
  @for $i from 1 through $max-tab-count {
    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      opacity: 1;
      /*transition: 0.5s opacity ease-in, 0.8s transform ease;*/
      position: relative;
      top: 0;
      z-index: 100;
      /*transform: translateY(0px);*/
      text-shadow: 0 0 0;
    }
  }
  &:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }
  &:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    &:hover {
      box-shadow: 0 -1px 0 #fff inset;
      background-color: #fff;
    }
  }
  + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    &:hover {
      background-color: #f9f9f9;
      box-shadow: 0 1px 0 #f4f4f4 inset;
    }
  }
  &__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: $tab-wrap-border-radius;
  }
}


/*.new-schedule-btn-space{
	height: 80px;
	width: 100%;
}*/

.new-schedule-btn {
	bottom : 100px;
	right : 12px;
	margin-top: 300px;
	position : fixed;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #F26964;
	text-align: center;
	font-family: bold;
	/*box-shadow: 10px 10px 15px -10px;*/
	box-shadow: 2px 2px 8px gray;
	z-index: 1;
	text-decoration: none;
}

.new-schedule-btn:hover {
	bottom : 96px;
	box-shadow: 2px 2px 6px gray;
}

.new-schedule-btn-text{
	text-decoration: none;
	margin-top: 3px;
	font-size: 42px;
	color: #FFF;
}



.new-game-btn-space{
	height: 80px;
	width: 100%;
	position: fixed;
}

.new-game-btn {
	bottom : 100px;
	right : 20px;
	margin-top: 300px;
	position : fixed;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #1253A4;
	text-align: center;
	font-family: bold;
	/*box-shadow: 10px 10px 15px -10px;*/
	box-shadow: 2px 2px 8px gray;
	z-index: 1;
	text-decoration: none;
}

.new-game-btn:hover {
	bottom : 96px;
	box-shadow: 2px 2px 6px gray;
}

.new-game-btn-text{
	text-decoration: none;
	margin-top: 3px;
	font-size: 42px;
	color: #FFF;
}



/* boring stuff */

body {
  font-family: 'Helvetica', sans-serif;
  background-color: #e7e7e7;
  color: #777;
  padding: 30px 0;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  display: block;
  max-width: 800px;
  > *:not(.tab-wrap) {
    padding: 0 80px;
  }
}

h1,
h2 {
  margin: 0;
  color: #444;
  text-align: center;
  font-weight: 400;
}

h2 {
  font-size: 1em;
  margin-bottom: 30px;
}

h3 {
  font-weight: 400;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

















/*color*/
/*app-section-title-color*/

.login-text-top{
	color: white;
	font-size: 32px;
	border-radius: 3px;
	padding: 10px 10px;
	background-color: #58BE89;
}

.login-text-top:hover{
	background-color: white;
	font-size: 32px;
	color: #58BE89;
	text-decoration: none;
	border: 3px solid #58BE89;
}



.signin-text-top{
	color: white;
	font-size: 32px;
	border-radius: 3px;
	padding: 10px 10px;
	background-color: #1253A4;
}

.signin-text-top:hover{
	background-color: white;
	font-size: 32px;
	color: #1253A4;
	text-decoration: none;
	border: 3px solid #1253A4;
}

.login-text{
	color: white;
	font-size: 36px;
	border: 3px solid white;
	border-radius: 3px;
	padding: 10px 10px;
}

.login-text:hover{
	/*color: #1253A4;*/
	font-size: 42px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: none;
}

.signin-text{
	color: white;
	font-size: 36px;
	border: 3px solid white;
	border-radius: 3px;
	padding: 10px 40px;
}

.signin-text:hover{
	/*color: #F26964;*/
	font-size: 42px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: none;
}


.bg-clr-main-features{
    background: #F26964;
    width: 100%;
    /*height: 300px;*/
    padding: 30px;
}

.bg-clr-main-steps{
    background: white;
    width: 100%;
    /*height: 300px;*/
    padding: 50px;
}

.main-steps-text{
    color: #333333;

}

.bg-clr-main-join{
    background: #FFD464;
    width: 100%;
    height: 240px;
}

.bg-clr-main-join-top{
    /*background: #FFD464;*/
    width: 100%;
    height: 80px;
}

.bg-clr-sub{
    background: #FFD464;
}

/*form*/

.form-width{
	width: 90%;
}

/*btn*/

.wanaka-btn{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5%;
    margin: 0 auto;
    width: 180px;
    height: 50px;
    background-color: #FFF;
    font-size: 18px;
    padding-top: 4px;
    text-align: center;
    margin: 0 auto;

}

.login-btn-support{
	font-size: 14px;
}

.btn-width-wide{
	width: 80%;
	/*height: 60px;*/
}

.btn-width-wide-col-3{
	width: 30%;
}

.btn-width-wide-col-2{
	width: 50%;
}


.btn-create{
    /*color: #FFF;*/
    /*background: #1253A4;*/

    color: #1253A4;
    background: #FFF;
    border: 3px solid #1253A4;
}

.btn-wider{
	width: 80%;
	margin: 0 auto;
}

.btn-create:hover{
    color: #FFF;
    background: #1253A4;

    /*color: #1253A4;*/
    /*background: #FFF;*/
    border: 3px solid #1253A4;
}


.btn-detail{
    color: #58BE89;
    background: #FFF;
    border: 3px solid #58BE89;
}

.btn-detail:hover{
    color: #FFF;
    background: #58BE89;
}


.btn-invite{
    color: #F26964;
    background: #FFF;
    border: 3px solid #F26964;
}

.btn-invite:hover{
    color: #FFF;
    background: #F26964;
}


.btn-edit{
    color: #58BE89;
    background: #FFF;
    border: 3px solid #58BE89;
}

.btn-edit:hover{
    color: #FFF;
    background: #58BE89;
}

.btn-apply{
    color: #1253A4;
    background: #FFF;
    border: 3px solid #1253A4;
}

.btn-apply:hover{
    color: #FFF;
    background: #1253A4;
}

.btn-delete{
    color: #FFD464;
    background: #FFF;
    border: 3px solid #FFD464;
}

.btn-delete:hover{
    color: #FFF;
    background: #FFD464;

}

.btn-complete{
    color: #27313D;
    background: #FFF;
    border: 3px solid #27313D;
}

.btn-complete:hover{
    color: #FFF;
    background: #27313D;
}


.frame-center{
	width: 100%;
	/*margin: 0 auto;*/
	/*background-color: red;*/
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
	/*background-color: gold;*/
}


.frame-center-place{
	font-size: 40px;
	font-weight: bold;
}



/*label*/

.admin-label{
	border: 1px solid #F4F4F2;
	background-color: #F26964;
	height: 30px;
	width: 60px;
	font-size: 10px;
	color: #FFF;
	padding-top: 8px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 16px;
	text-align: center;
	float: right;
	margin-right: 10px;
	/*font-weight: bold;*/
}

.deny-label{
	border: 1px solid #F4F4F2;
	background-color: #27313D;
	height: 30px;
	width: 60px;
	font-size: 10px;
	color: #FFF;
	padding-top: 8px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 16px;
	text-align: center;
	float: right;
	margin-right: 10px;
}

.deny-label-top{
	border: 1px solid #27313D;
	background-color: #FFF;
	color: #27313D;
	font-weight: bold;
	height: 40px;
	width: 90px;
	font-size: 18px;
	padding-top: 8px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 16px;
	text-align: center;
	float: right;
	margin-right: 10px;
}

.deny-label-top:hover{
	border: 1px solid #F4F4F2;
	background-color: #27313D;
	color: #FFF;
}

.approve-label{
	border: 1px solid #F4F4F2;
	background-color: #1253A4;
	height: 30px;
	width: 60px;
	font-size: 10px;
	color: #FFF;
	padding-top: 8px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 16px;
	text-align: center;
	float: left;
	margin-right: 10px;
}

.approve-label-top{
	border: 1px solid #1253A4;
	background-color: #FFF;
	font-weight: bold;
	height: 40px;
	width: 90px;
	font-size: 18px;
	color: #1253A4;
	padding-top: 8px;
	margin: 0 auto;
	border-radius: 5px;
	margin-bottom: 16px;
	text-align: center;
	float: right;
	margin-right: 10px;
}

.approve-label-top:hover{
	border: 1px solid #F4F4F2;
	background-color: #1253A4;
	color: #FFF;
}


.attend-label{
	border: 1px solid #F4F4F2;
	background-color: #F26964;
	font-size: 10px;
	color: #FFF;
	border-radius: 5px;
	padding: 8px 14px;
}

.attend-label:hover{
	border: 1px solid #F26964;
	background-color: #FFF;
	color: #F26964;

}

.attend-label-active{
	border: 1px solid #F26964;
	background-color: #FFF;
	color: #F26964;
	font-size: 10px;
	border-radius: 5px;
	padding: 8px 14px;
}

.absent-label{
	border: 1px solid #F4F4F2;
	background-color: #27313D;
	font-size: 10px;
	color: #FFF;
	padding: 8px 14px;
	border-radius: 5px;
}


.absent-label:hover{
	border: 1px solid #27313D;
	background-color: #FFF;
	color: #27313D;
}

.absent-label-active{
	border: 1px solid #27313D;
	background-color: #FFF;
	color: #27313D;
	font-size: 10px;
	border-radius: 5px;
	padding: 8px 14px;
}


.pendding-label{
	border: 1px solid #F4F4F2;
	background-color: #1253A4;
	padding: 8px 14px;
	font-size: 10px;
	color: #FFF;
	border-radius: 5px;
}


.pendding-label:hover{
	border: 1px solid #1253A4;
	background-color: #FFF;
	color: #1253A4;
}

.pendding-label-active{
	border: 1px solid #1253A4;
	background-color: #FFF;
	color: #1253A4;
	font-size: 10px;
	border-radius: 5px;
	padding: 8px 14px;
}

.laber-yellow{
	border-bottom: 1px solid #F4F4F2;
	border-left: 6px solid #FFD464;
	height: 42px;
	width: 80%;
	padding-left: 10px;
	padding-top: 8px;
}

.laber-blue{
	border-bottom: 1px solid #F4F4F2;
	border-left: 6px solid #1253A4;
	height: 30px;
	padding-left: 10px;
}

.laber-red{
	border-bottom: 1px solid #F4F4F2;
	border-left: 6px solid #F26964;
	height: 30px;
	padding-left: 10px;
}

.laber-green{
	border-bottom: 1px solid #F4F4F2;
	border-left: 6px solid #58BE89;
	height: 30px;
	padding-left: 10px;
}


.content{
	text-align: center;
	width: 95%;
	background-color: white;
	border-radius: 5px;
	margin: 10px auto;
	/*padding-bottom: 20px;*/
	padding: 16px 0;
}

.content-box-noborder{
	width: 100%;
}

.content hr{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0.8px solid #F1F0EE;
}


.content-text{
	width: 90%;
}


	.team-index-box{
		width: 90%;
		/*height: 180px;*/
		margin: 0 auto;
		/*background-color: red;*/
	}

	.team-index-box-img{
		width: 40%;
		float: left;
		margin: 0 auto;
	}

	.team-index-box-info{
		width: 60%;
		float: right;
		margin: 0 auto;
		text-align: center;
	}


	.team-index-box-applied{
		width: 80%;
		/*float: right;*/
		margin: 0 auto;
		/*text-align: center;*/
		/*background-color: red;*/
		font-size: 14px;
		margin-top: 10px;
		line-height: 16px;
		/*background-color: #FFD464;*/
		/*border-radius: 5px;*/
		padding: 10px 0;
		border: 0.75px solid #F4F4F2;
		border-left: 6px solid #FFD464;
		/*#F4F4F2;*/
	}

	
	.team-index-box-applied:hover{
		background-color: #FFD464;
		font-weight: bold;
		color: #fff;
		text-decoration: none;

	}



	.team-img-border{
		border: 1px solid black;
		/*margin: 5px;*/
		width: 162px;
		height: 162px;
	}


	.team-status-box{
		width: 140px;
		margin: 0 auto;
	}


/*schedule*/

	.schedule-index-box{
		width: 100%;
	}

	.schedule-index-box-img{
		/*float: left;*/
		width: 30%;
	}

	.schedule-index-box-show{
		/*float: left;*/
		/*width: 70%;*/
		/*font-size: 18px;*/
		/*line-height: 24px;*/
	}

	.schedule-index-box-show-td{
		font-size: 14px;
		/*text-align: left;*/
		/*font-weight: bold;*/
		/*height: 12px;*/
		line-height: 0.7;
		/*width: 20%;*/
		line-height: middle;
	}

	.schedule-index-box-show-td-fix{
		width: 200px;
	}

	.schedule-index-box-show-th{
		font-size: 12px;
		/*text-align: left;*/
		font-weight: bold;
		/*height: 12px;*/
		/*line-height: 0.7;*/
		/*width: 20%;*/
		/*line-height: middle;*/
		/*line-height: 2px;*/
		/*line-height: 2ex;*/
	}

	.schedule-index-box-past{
		font-size: 12px;
		line-height: 0.7;
		width: 100%;
		height: 40px;
	}


/*game*/
	.game-index-box{
		width: 100%;
	}

	.game-index-box-img{
		float: left;
		width: 30%;
	}

	.game-index-box-show{
		float: left;
		width: 70%;
		font-size: 18px;
		line-height: 24px;
	}

	.game-index-box-show-td{
		font-size: 12px;
		text-align: left;
		font-weight: bold;
		height: 16px;
		line-height: 0.8;
	}
	.game-index-box-show-td{
		font-size: 12px;
		text-align: left;
		font-weight: bold;
		height: 16px;
		line-height: 0.8;
	}

	.game-index-box-show-detail{
		font-size: 12px;
		/*font-weight: bold;*/
		float: right;
		padding-right: 5px;
		text-align: center;
		margin: 0 auto;
	}


.hr-end{
	width: 100%;
}

.message-index-username{
	/*color: red;*/
}


.message-index-usermyself{

}

footer{
	height: 40px;
	background-color: #333333;
	font-size: 10px;
	color: white;
	text-align: center;
	padding-top: 10px;
	/*margin-top: 16px;*/
	vertical-align: middle;
}


@media screen and (max-width:768px) {

}

